.day{
    flex-direction: column;
    color: whitesmoke;
    background: blue;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
main{
    background-color: blue;
    color: white
}
.btn{
    background-color: blue;
    color: white;
}
.form-input{
    text-align: center;
}